{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              {% if about_us %}
              <h2>
                Biz haqimizda
              </h2>
              <img src="{% static 'images/plug.png'%}" alt="">
            </div>
            <p>
              {{about_us.body}}
            </p>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="{% static 'images/about-img1.jpg'%}" alt="" />
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- end about section -->
  {% endblock %}