{% extends "base.html" %}
{% load static %}
{% block content %}

  <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Blog
        </h2>
        <img src="{% static 'images/plug.png'%}" alt="">
      </div>
      <div class="row">
        {% for blog in blogs %}
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="{{blog.img.url}}" alt="bu yerda rasm chiqishi kerak edi">
            </div>
            <div class="detail-box">
              <h5>
                {{blog.title}}
              </h5>
              <p>
                {{blog.body}}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endblock %}