{% extends "base.html" %}
{% load static %}
{% block content %}

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Bizning xizmatlar
        </h2>
        <img src="{% static 'images/plug.png'%}" alt="">
      </div>

      <div class="service_container">
        {% for service in services %}
        <div class="box">
          <div class="img-box">
            <img src="{{service.img.url}}" class="img1" alt="">
          </div>
          <div class="detail-box">
            <h5>
              {{service.title}}
            </h5>
            <p>
              {{service.body}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
 {% endblock %}